# KWin Script Tile Gaps
# (C) 2021 Natalie Clarius <natalie_clarius@yahoo.de>
# GNU General Public License v3.0

[Desktop Entry]
Name=Tile Gaps
Name[de]=Kachelfugen
Name[nl]=Tegelruimte
Comment=Adds space around windows snapped to a whole, half or quarter of the screen
Comment[de]=Fügt Zwischenraum um an den ganzen, halben, oder viertel Bildschirm angeheftete Fenster ein
Comment[nl]=Voegt ruimte rond vensters toe die links, half of voor een kwart zijn uitgelijnd
Icon=preferences-system-windows

X-KDE-PluginInfo-Author=Natalie Clarius
X-KDE-PluginInfo-Email=natalie_clarius@yahoo.de
X-KDE-PluginInfo-Name=tilegaps
X-KDE-PluginInfo-Version=5.1
X-KDE-PluginInfo-License=GPL

Type=Service
X-KDE-ServiceTypes=KWin/Script,KCModule
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-Library=kwin/effects/configs/kcm_kwin4_genericscripted
X-KDE-PluginKeyword=tilegaps
X-KDE-ParentComponents=tilegaps
