# KWin Script Window Gaps
# (C) 2021 Natalie Clarius <natalie_clarius@yahoo.de>
# GNU General Public License v3.0

[Desktop Entry]
Name=Window Gaps
Name[de]=Fenster-Fugen
Comment=Adds space around windows touching a screen edge or other window
Comment[de]=Fügt Zwischenraum um Fenster ein, die einen Bildschirmrand oder ein anderes Fenster berühren
Icon=preferences-system-windows

X-KDE-PluginInfo-Name=tilegaps
X-KDE-PluginInfo-Version=6.3
X-KDE-PluginInfo-Author=Natalie Clarius
X-KDE-PluginInfo-Email=natalie_clarius@yahoo.de
X-KDE-PluginInfo-License=GPL v3.0
X-KDE-PluginInfo-Website=https://store.kde.org/p/1619642

Type=Service
X-KDE-ServiceTypes=KWin/Script,KCModule
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-Library=kwin/effects/configs/kcm_kwin4_genericscripted
X-KDE-PluginKeyword=tilegaps
X-KDE-ParentComponents=tilegaps
